.project img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.project {
  border-radius: 20px;
}

.project-title-container {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
}

.project-title {
  font-weight: 600;
  font-size: 28px;
  color: #121212;
  text-decoration: none;
  margin-right: 10px;
}

.project-github {
  height: 24px;
}

.project-github:hover svg {
  fill: #636363;
}

.project-title:hover {
  color: #636363;
}

.project-description {
  margin: 0;
  font-size: 18px;
}